div {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #3d32da;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

img {
    margin: 10px 0 10px 0;
}